body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Top Bar Styles */
.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0px 26px;
}

/* Button Container Styles */
.button-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#logo {
  cursor: pointer;
}

#logoutIcon {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

/* Report Button Styles */
#reportButton {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF; 
  color: #007DB3;
  cursor: pointer;
  font-size: 20px;
  height: 100px;
  padding: 0px 10px;
}

#reportButton:hover {
  background-color: #EDEDED;
}

/* Manage Users Button Styles */
#manageUsersButton {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF; 
  color: #C7B471;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 10px;
  text-decoration: none;
}

#manageUsersButton:hover {
  background-color: #EDEDED;
}

/* Separator Styles */
.separator {
  padding: 10px;
}

/* Ribbon Section Styles */
.ribbon {
  align-items: center;
  background-color: #C7B471;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 0px 45px;
  vertical-align: top;
}

/* Ribbon Title Styles */
.ribbon-title {
  color: #FFFFFF;
  font-size: 24px;
}

/* Category Table Styles */
.categories-table {
  border: 1px solid #B39A5A;
  border-radius: 20px;
  float: left;
  margin-right: 200px;
  overflow: hidden;
  text-align: center;
}

.categories-table hr {
  border: none;
  border-top: 1px solid #B39A5A;
  margin: 0;
}

.categories-table h3 {
  background-color: #C7B471;
  color: #4E3629;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  width: 300px;
}

.category-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Category Button Styles */
.category-button {
  background-color: #FFFFFF;
  border: none;
  box-sizing: border-box;
  color: #C7B471;
  cursor: pointer;
  font-size: 22px;
  margin: 0;
  padding: 30px 14px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.category-button:hover {
  background-color: #EDEDED;
  color: #C7B471;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  height: 80vh;
}

/* Chart Container Styles */
.chart-container {
  text-align: center;
  padding-top: 100px;
}
