body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 10;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo-container img {
  height: 80px;
  width: auto;
}

.ribbon {
  background-color: #C7B471;
  height: 100px;
  padding-left: 200px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.message-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.session-timeout {
  font-size: 24px;
  font-weight: bold;
}

.login-again {
  font-size: 18px;
}

.login-link {
  color: #007DB3;
  cursor: pointer;
}
