<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='css/dashboard.css') }}>
</head>
<body>
  <div class="top-bar">
    <!-- Logo -->
    <a href="/dashboard"><img id="logo" src="{{ url_for('static', filename='img/logo-full.png') }}" alt="Logo"></a>

    <!-- Top Right Buttons -->
    <div id="topRightButtons" class="button-container">
      <!-- Report -->
      <!--
      <button id="reportButton" class="top-right-button"><strong>REPORT</strong></button>
      <span class="separator"></span>
      -->

      {% if is_admin %}
        <!-- Manage Users -->
        <button id="manageUsersButton" class="top-right-button"><strong>MANAGE USERS</strong></button>
        <span class="separator"></span>
      {% endif %}

      <!-- Logout -->
      <a href="{{ url_for('auth.logout') }}"><img id="logoutIcon" src="{{ url_for('static', filename='img/icon-logout-blue.svg') }}" alt="Logout" onclick="logout()"></a>
    </div>
  </div>

  <div class="ribbon">
    <!-- Ribbon Title -->
    <p id="ribbonTitle" class="ribbon-title">
      <strong>{% if is_admin %}Admin Dashboard{% else %}Dashboard{% endif %}</strong>
    </p>
  </div>

  <!-- Table for Categories -->
  <div class="dashboard-container">
    <div class="categories-table">
        <h3>Categories</h3>
        <div id="categoryButtons" class="category-buttons-container">
          {% for category in categories %}
            <a href="{{ url_for('main.segmentation', category=category) }}">
              <hr>
              <button class="category-button">{{ column_mapping.get(category, category) }}</button>
            </a>
          {% endfor %}
        </div>
    </div>
    <div class="chart-container">
      <div id="chart-container"></div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/totalCountChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timeout.js') }}"></script>
</body>
</html>
