<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href={{ url_for('static', filename='css/manageUsers.css') }}>
</head>
<body>
  <div class="top-bar">
    <!-- Logo -->
    <a href="/dashboard"><img id="logo" src="{{ url_for('static', filename='img/logo-full.svg') }}" alt="Logo"></a>

    <!-- Top Right Buttons -->
    <div id="topRightButtons" class="button-container">

      <!-- Dashboard -->
      <a href="/dashboard" id="dashboardButton" class="top-right-button"><strong>DASHBOARD</strong></a>
      <span class="separator"></span>

      <!-- Logout -->
      <a href="{{ url_for('auth.logout') }}"><img id="logoutIcon" src="{{ url_for('static', filename='img/icon-logout-blue.svg') }}" alt="Logout" onclick="logout()"></a>
    </div>
  </div>

  <div class="ribbon">
    <!-- Ribbon Title -->
    <p id="ribbonTitle" class="ribbon-title">
      <strong>Manage Users</strong>
    </p>
  </div>

  <script src="{{ url_for('static', filename='js/timeout.js') }}"></script>
</body>
</html>
